/***********Google Fonts***********/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/***********Variables***********/
:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Lato', sans-serif;

    --primary-color: #050505;
    --secondary-color: #65676b;
    --tertiary-color: #ffffff;
    --active-color: #1b74e4;
    --hover-color: #e4e4e9;

    --primary-bg: #ffffff;
    --secondary-bg: #f0f2f5;
    --tertiary-bg: #e4e6eb;
}

/***********Default css***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, html{
    color: var(--primary-color);
    background-color: var(--secondary-bg);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--primary-font);
}

img{
    display: block;
}
a, span{
    display: inline-block;
    text-decoration: none;
}
button{
    cursor: pointer;
}




/***********Header Area css**********/
.header-area{
    background-color: var(--primary-bg);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 18px 0 18px;
}

/**header left**/
.header-left{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 3px;
}
.logo{
    width: 40px;
}
.logo a img{
    width: 100%;
}
.search-box{
    max-width: 250px;
    position: relative;
}
.search-box > .search-icon{
    position: absolute;
    left: 12px;
    top: 12px;
    color: var(--secondary-color);
    font-size: 16px;
}
.search-box input{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 10px;
    background-color: var(--secondary-bg);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
}
.search-box input::placeholder{
    opacity: .3;
}
.search-icon-mobile a i{
    color: var(--secondary-color)!important;
}
.search-icon-mobile{
    display: none;
}

/**header middle**/
.header-menu ul{
    display: flex;
    column-gap: 5px;
    list-style: none;
}
.header-menu ul li a{
    padding: 14px 40px;
    border-radius: 10px;
}
.header-menu ul li a:hover{
    background-color: var(--hover-color);
}
.header-menu ul li a i{
    color: var(--secondary-color);
    font-size: 20px;
}
.header-menu ul li .active{
    position: relative;
}
.header-menu ul li .active:hover{
    background-color: transparent;
}
.header-menu ul li .active::after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-menu ul li .active i{
    color: var(--active-color);
}

/**header right**/
.header-right{
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding-bottom: 3px;
}
.header-icon{
    width: 40px;
    height: 40px;
    background-color: var(--tertiary-bg);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.header-icon:hover{
    background-color: var(--hover-color);
}
.header-icon a i{
    color: var(--primary-color);
    font-size: 18px;
    line-height: 40px;
}
.user-image{
    width: 40px;
    height: 40px;
}
.user-image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.plus-icon-mobile{
    display: none;
}

/*****************Main Area css***************/
.main-area{
    background-color: var(--secondary-bg);
    margin-top: 50px;
}

/**********Main Left**********/
.main-left-area{
    max-width: 23%;
    height: calc(100vh - 55px);
    background-color: var(--secondary-bg);
    padding: 15px 5px 20px 10px;
    position: fixed;
    top: 55px;
    overflow: hidden;
    overflow-y: scroll;

}
.main-left-area::-webkit-scrollbar{
    width: 7px;
}
.main-left-area::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: var(--secondary-bg);
}
.main-left-area:hover::-webkit-scrollbar-thumb{
    background-color: #cccccc;
}
.left-item{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 10px 5px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
}
.left-item:hover{
    background-color: var(--hover-color);
}
.left-item img{
    width: 40px;
}
.left-item .user-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.left-item p{
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--secondary-font);
}
.main-left-opt{
    display: flex;
    flex-wrap: wrap;
}
.main-left-opt a,
.main-left-opt span{
    color: var(--secondary-color);
    font-size: 13px;
    text-decoration: none;
}
.main-left-opt a span:hover{
    text-decoration: underline;
}


/**********Main Center**********/
.main-center-area{
    max-width: 600px;
    margin: auto;
    margin-top: 70px;
}

/****Story Box*****/
.story-box{
    width: 100%;
    height: auto;
    background-color: var(--primary-bg);
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    column-gap: 15px;
}
.my-story,
.single-story{
    width: 105px;
    height: 180px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 1s;
}
.my-story .story-img{
    width: 100%;
    height: 135px;
    position: relative;
}
.my-story .story-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.my-story .story-img .upload-btn{
	position: absolute;
	left: 31px;
	bottom: -24px;
}
.my-story .story-img .upload-btn a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-bg);
    border: 3px solid var(--tertiary-color);
}
.my-story .story-tag p{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}
.single-story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.1s;
}
.circle-img{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 12px;
    top: 12px;
}
.circle-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 4px solid var(--active-color);
}
.story-text {
	color: var(--tertiary-color);
	font-size: 12px;
    text-align: center;
	position: relative;
	bottom: 22px;
}
.single-story::after,
.my-story::after{
    content: '';
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}
.single-story:hover img{
    transform: scale(1.01);
}

.single-story:hover::after,
.my-story:hover::after{
    width: 100%;
    height: 100%;
}

/*****Create Post****/
.create-post{
    padding: 10px 15px;
    background: var(--tertiary-color);
    margin: 20px 0;
    border-radius: 10px;
}
.create-post .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dddddf;
}
.create-post .top input{
    width: 90%;
    height: 40px;
    outline: none;
    border: none;
    color: var(--primary-color);
    font-size: 16px;
    border-radius: 30px;
    padding: 0 15px;
    background: var(--secondary-bg);
    font-family: var(--secondary-font);
}
.create-post .bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}
.create-post .bottom button{
    padding: 10px 0;
    background: transparent;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: var(--secondary-color);
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: 500;
}
.create-post .bottom button:hover{
    background: var(--secondary-bg);
}
.create-post .bottom button i{
    font-size: 20px;
}
.create-post .bottom button .live{
    color: #f02a4b;
}
.create-post .bottom button .gallery{
    color: #46be63;
}
.create-post .bottom button .smile{
    color: #facf6a;
}

/*******Newsfeed******/
.single-post{
    padding: 10px 15px;
    background: var(--tertiary-color);
    margin-bottom: 20px;
    border-radius: 10px;
}
.post-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-opt .left{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.post-opt .left .user-name a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
    margin-bottom: 6px;
}
.post-opt .left .user-name a:hover{
    text-decoration: underline;
}
.post-opt .left .user-name p{
    font-size: 12px;
    color: var(--secondary-color);
}
.post-opt .right{
    display: flex;
    column-gap: 10px;
}
.post-opt .right a{
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    color: var(--secondary-color);
    font-size: 22px;
}
.post-opt .right a:hover{
    background-color: var(--secondary-bg);
}
.post-text p{
    margin: 10px 0;
    color: var(--primary-color);
    font-size: 15px;
}
.single-post .center{
    width: 100%;
}
.single-post .center img{
    width: 100%;
    height: auto;
}
.post-bottom-opt{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.post-react{
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #dddddf; */
}
.post-react .emoji a{
    width: 20px;
}
.post-react .emoji .upper{
    margin-left: -7px;
}
.post-react .emoji a img{
    width: 100%;
}
.react-count a,
.comment-count a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 13px;
}
.react-count a:hover,
.comment-count a:hover{
    text-decoration: underline;
}
.post-btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #e9e9ee;
}
.post-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    margin-top: 5px;
    border-radius: 10px;
    color: var(--secondary-color);
}
.post-btns a:hover{
    background-color: var(--secondary-bg);
}
.post-btns a i{
    font-size: 20px;
}
.load-more-btn{
    color: var(--tertiary-color);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--secondary-font);
    background-color: var(--active-color);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    transition: .3s;
}
.newfeed-btn{
    text-align: center;
    margin: 25px 0 30px 0;
}
.load-more-btn:hover{
    color: var(--primary-color);
    background-color: var(--primary-bg);
}





/**********Main Right**********/


/***********Header Area css**********/





/***********Header Area css**********/




/***********Header Area css**********/




